.container {
  padding: 0 20%;
  display: grid;
  place-items: center;
  min-height: 100vh;
  color: white;
}

.title {
  text-align: center;
  margin: 20px 0;
  line-height: 1.15;
  font-size: 4rem;
}

.buttons {
  display: grid;
  place-items: center;
}